body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container_1080 {
    position: relative;
    top:0;
    left:0;
    margin:0;
    width: 1920px;
    height: 1080px;
}

.minimap_container {
    position: absolute;
    width: 565px;
    height: 190px;
    bottom: 9px;
    right: 10px;
}

.minimap_image {
    width: 100%;
    position: absolute;
    top:0;
    left:0;
}

.minimap_disc {
    width: 25px;
    position: absolute;
    top:75px;
    left:269px;
}