#main_banner {
    display: none;
    animation: fade_in 1s;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#main_banner > div {
    width: 40em;
    margin: 1em auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    color: #ddd;
    font-size: 1.5em;
    font-family: sans-serif;
    border: .05em solid #aaa5;
    border-bottom: none;
    box-shadow: 0 0 2em #000f;
    background: linear-gradient(#444 0%, #222 100%);
}

#main_banner > div > div {
    height: 0;
    line-height: 0;
    margin: auto;
}

#main_banner > div > .center_clock_area {
    width: 6.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%
}

#main_banner > div > .center_clock_area > div {
    line-height: 1.3;
    flex-grow: 1;
    font-size: 1.7em;
    margin: 0;
    text-shadow: 0 0 .5em #fff5;
}

#main_banner #points_orange {
    border-top: .05em solid #e59433;
    border-right: none;
}

#main_banner #points_blue {
    border-top: .05em solid #4f98cb;
    border-left: .05em solid #fff2;
}

#main_banner #game_clock_display {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    transform: scaleY(1.2);
}

#main_banner .team_logo {
    height: 4em;
    width: 4em;
}

#main_banner .team_name {
    flex-grow: 1;
    line-height: 1;
    height: 100%;
    margin: auto;
    width: 12.5em;
    text-transform: uppercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    color: #fffa;
    text-shadow: .1em .1em 0 black;
}

#main_banner .points {
    width: .4em;
}

#main_banner .round_scores {
    width: .4em;
    border: .1em solid #FFF2;
    height: 3.75em;
    margin: .1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#main_banner .round_scores > div {
    border: .05em solid #fff5;
    flex-grow: 1;
    margin: .05em
}

#main_banner .round_scores > div.active {
    background-color: white;
    box-shadow: 0 0 .2em #fff2;
}

#main_banner > .underlay {
    height: .2em;
    border-top: none;
    margin-top: 0;
    background: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
}

#main_banner > .underlay > .orange {
    background: linear-gradient(#ff9627 0%, #755e41 100%);
    height: 100%;
    flex-grow: 1;
}

#main_banner > .underlay > .blue {
    background: linear-gradient(#4890dd 0%, #4f5462 100%);
    height: 100%;
    flex-grow: 1;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        margin-top: -.4em;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}