body {
	margin: 0;
	padding: 0;
}

.container_1080 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 1920px;
	height: 1080px;
	/*background-color: black;*/
}

.minimap_container {
	position: absolute;
	width: 35.3125em;
	height: 11.875em;
	bottom: 0.5625em;
	right: 0.625em;
	overflow: hidden;
}

.minimap_image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.minimap_disc {
	width: 1.5625em;
	position: absolute;
	top: -0.78125em;
	left: -0.78125em;
}

.player {
	position: absolute;
	visibility: hidden;
}

.player>div {
	border-radius: 6.25em;
	width: 1.875em;
	height: 1.875em;
	position: absolute;
	top: -0.9375em;
	left: -0.9375em;
}

.player>p {
	font-family: Arial, sans-serif;
	color: white;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: -0.6em;
	left: -0.58em;
	margin: 0;
	font-size: 1.25em;
	text-shadow: 0 0 0.1em #0005;
}

.minimap_container .blue>div {
	background-color: #0199ff;
}

.minimap_container .orange>div {
	background-color: #ff8d04;
}

.positionable_element {
	position: absolute;
	top: 5.40625em;
	left: 17.59375em;
	transition: all .2s;
}

#timeout_banner {
	padding: 1.25em 0;
	font-size: 2.5em;
	font-weight: bold;
	color: #fffa;
	text-align: center;
	font-family: sans-serif;
	z-index: 1000;
	position: absolute;
	width: 100%;
	margin: 0;
	top: 2em;
	background: #000a linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 25%, rgba(0, 0, 0, .75) 75%, rgba(0, 0, 0, 0) 100%);
	visibility: hidden;
}

#timeout_banner_team {
	font-size: 1.4375em;
	text-transform: uppercase;
}