
@font-face {
	font-family: 'Inconsolata';
	src: url('/fonts/Inconsolata.woff2') format('woff2'), url('/fonts/Inconsolata.woff') format('woff'), url('/fonts/Inconsolata.ttf') format('truetype');
}

.container_free {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: none;
	/*background: url("/dev/img/empty_echo_background.png");*/
}


@media screen and (max-width: 1300px) {
	.container_free {
		font-size: .6em;
	}
}

@media screen and (max-width: 1600px) {
	.container_free {
		font-size: .8em;
	}
}

@media screen and (min-width: 2500px) {
	.container_free {
		font-size: 1.2em;
	}
}
