body {
	margin: 0;
	padding: 0;
}

.minimap_container {
	position: absolute;
	width: 35.3125em;
	height: 10.875em;
	bottom: 1em;
	right: 1em;
	overflow: hidden;
}

.minimap_image {
	height: 100%;
	display: block;
	margin: auto;
}

.minimap_disc {
	width: 25px;
	position: absolute;
	top: -12.5px;
	left: -12.5px;
}

.player {
	position: absolute;
	visibility: hidden;
}

.player>div {
	border-radius: 100px;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -15px;
	left: -15px;
}

.player>p {
	font-family: Arial, sans-serif;
	color: white;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: -11px;
	left: -12px;
	margin: 0;
	font-size: 20px;
}

.blue>div {
	background-color: #0199ff;
}

.orange>div {
	background-color: #ff8d04;
}

.positionable_element {
	position: absolute;
	top: 86.5px;
	left: 281.5px;
	transition: all .3s;
}

#timeout_banner {
	z-index: 1000;
	position: absolute;
	width: 100%;
	margin: 0;
	top: 0;
	visibility: hidden;
}

#timeout_banner>img {
	width: 100%;
}